{% include "header.html.twig" %}

    <table>
    <thead>
        <tr>
            <th>{{contact.prenom}}</th>
        </tr>
    </thead>
    <tr>
        <td>nom :{{contact.nom}}</td>
        <td>numéro : {{contact.numTel}}</td>
    </tr>
    {% for adresse in contact.adresses %}
    <tr>
        <td>{{adresse.nom}}</td>
    </tr>
    {% endfor %}
    </table>

</body>
</html>